.DS_store
__pycache__
cbm_database/.DS_store
fasta/.DS_store
fasta/cbh_egl_annotation/.DS_store
fasta/cbh_egl_annotation/alignments/.DS_store
fasta/initial_blast/.DS_store
fasta/structure_based_alignment/.DS_store
fasta/trecel7a_positions_only/.DS_store
hmm_train_test/.DS_store
hmm_train_test/final_hmm/.DS_store
hmm_train_test/final_hmm/hmm_to_1748/.DS_store
hmm_train_test/ncbi_kfold/.DS_store
hmm_train_test/swiss_kfold/.DS_store
plots/.DS_store
plots/dnsity_plots/.DS_store
plots/outlier_detection/.DS_store
plots/dec_tree_rules/.DS_store
results_final/.DS_store
results_final/ml_subtype_pred/.DS_store
results_final/ml_cbm_pred/.DS_store
results_final/rules/.DS_store
new_work.xlsx